<?xml version="1.0"?>
<config>
    <modules>
        <Ziftr_Payment>
            <version>1.0.0</version>
        </Ziftr_Payment>
    </modules>
    <global>
        <blocks>
            <ziftr_payment>
                <class>Ziftr_Payment_Block</class>
            </ziftr_payment>
            <ziftr_payment_adminhtml>
                <class>Ziftr_Payment_Block_Adminhtml</class>
            </ziftr_payment_adminhtml>
        </blocks>
        <models>
            <ziftr_payment>
                <class>Ziftr_Payment_Model</class>
            </ziftr_payment>
        </models>
        <helpers>
            <ziftr_payment>
                <class>Ziftr_Payment_Helper</class>
            </ziftr_payment>
        </helpers>
        <!--
        <resources>
            <ziftr_payment_setup>
                <setup>
                    <module>Ziftr_Payment</module>
                </setup>
            </ziftr_payment_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <ziftr_payment>
                        <class>ziftr_payment/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </ziftr_payment>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <ziftr_payment>
               <use>standard</use>
               <args>
                   <module>Ziftr_Payment</module>
                   <frontName>mgt</frontName>
               </args>
           </ziftr_payment>
        </routers>
        -->
        <layout>
            <updates>
                <ziftr_payment>
                    <file>ziftr_payment.xml</file>
                </ziftr_payment>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ziftr_Payment before="Mage_Adminhtml">Ziftr_Payment_Adminhtml</Ziftr_Payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <ziftr_payment_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ziftr_payment/observer::methodName</model>
                </run>
            </ziftr_payment_cron>
        </jobs> 
    </crontab>
    -->
</config>
