<?xml version="1.0"?>
<config>
    <modules>
        <Ziftr_Crypto>
            <version>1.0.0</version>
        </Ziftr_Crypto>
    </modules>
    <global>
        <blocks>
            <crypto>
                <class>Ziftr_crypto_Block</class>
            </crypto>
            <ziftr_crypto_adminhtml>
                <class>Ziftr_crypto_Block_Adminhtml</class>
            </ziftr_crypto_adminhtml>
        </blocks>
        <models>
            <crypto>
                <class>Ziftr_crypto_Model</class>
            </crypto>
        </models>
        <resources>
            <crypto_setup>
                <setup>
                    <module>Ziftr_Crypto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crypto_setup>
            <crypto_write>
                <connection>
                    <use>core_read</use>
                </connection>
            </crypto_write>
            <crypto_read>
                <connection>
                    <use>core_write</use>
                </connection>
            </crypto_read>
        </resources>
    </global>
    <default>
        <payment>
            <crypto>
                <active>1</active>
                <model>crypto/pay</model>
                <order_status>pending</order_status>
                <title>ZiftrPay</title>
            </crypto>
        </payment>
    </default>
</config>
